
FlareExam/.vs/FlareExam/DesignTimeBuild/.dtbcache.v2
FlareExam/.vs/FlareExam/v17/.suo
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.deps.json
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.dll
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.exe
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.pdb
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.dev.json
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.json
FlareExam/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlareExam/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
FlareExam/obj/Debug/netcoreapp3.1/apphost.exe
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.AssemblyInfo.cs
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.AssemblyInfoInputs.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.assets.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.AssemblyReference.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.BuildWithSkipAnalyzers
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.CoreCompileInputs.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.FileListAbsolute.txt
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.dll
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.GeneratedMSBuildEditorConfig.editorconfig
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.genruntimeconfig.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.pdb
FlareExam/obj/FlareExam.csproj.nuget.dgspec.json
FlareExam/obj/FlareExam.csproj.nuget.g.props
FlareExam/obj/FlareExam.csproj.nuget.g.targets
FlareExam/obj/project.assets.json
FlareExam/obj/project.nuget.cache
FlareExam/.vs/FlareExam/FileContentIndex/9c0b028e-8bed-447d-b0af-a8da5091f928.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/c21bad61-c683-459c-846e-020a4802bd5b.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/read.lock
FlareExam/.vs/FlareExam/v17/.futdcache.v2
FlareExam/.vs/ProjectEvaluation/flareexam.metadata.v5
FlareExam/.vs/ProjectEvaluation/flareexam.projects.v5
FlareExam/.vs/FlareExam/FileContentIndex/50e1363b-53bd-49dd-8606-40e9e18a225a.vsidx
FlareExam.Tests/bin/Debug/netcoreapp3.1/AutoFixture.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Castle.Core.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
FlareExam.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Fare.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.deps.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.exe
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.pdb
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.dev.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.Tests.deps.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.Tests.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.Tests.pdb
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.Tests.runtimeconfig.dev.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/FlareExam.Tests.runtimeconfig.json
FlareExam.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Moq.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/testhost.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/testhost.exe
FlareExam.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FlareExam.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FlareExam.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlareExam.Tests/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.AssemblyInfo.cs
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.AssemblyInfoInputs.cache
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.assets.cache
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.csproj.AssemblyReference.cache
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.csproj.BuildWithSkipAnalyzers
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.csproj.CopyComplete
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.csproj.CoreCompileInputs.cache
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.csproj.FileListAbsolute.txt
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.dll
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.GeneratedMSBuildEditorConfig.editorconfig
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.genruntimeconfig.cache
FlareExam.Tests/obj/Debug/netcoreapp3.1/FlareExam.Tests.pdb
FlareExam.Tests/obj/FlareExam.Tests.csproj.nuget.dgspec.json
FlareExam.Tests/obj/FlareExam.Tests.csproj.nuget.g.props
FlareExam.Tests/obj/FlareExam.Tests.csproj.nuget.g.targets
FlareExam.Tests/obj/project.assets.json
FlareExam.Tests/obj/project.nuget.cache
FlareExam/.vs/FlareExam/FileContentIndex/a8746bbd-8cc6-496a-88a1-910babf672b0.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/63260ca4-2dd0-463d-a91e-a02120e11999.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/2af6f18d-0ed9-4b62-8b62-ebd96c7fb070.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/0816b28f-f133-4593-bf99-16e433e86d4f.vsidx
FlareExam/.vs/FlareExam/v17/TestStore/0/001.testlog
FlareExam/.vs/FlareExam/v17/TestStore/0/testlog.manifest
FlareExam/.vs/FlareExam/FileContentIndex/7761cfeb-f394-4e35-9be0-42f4e8ede875.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/06138499-ad14-4a72-99b2-3f050f944cc2.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/e446ec43-bdbf-41f9-96d5-01372e07a6f4.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/8ce7b9ab-6f10-479f-bfb3-1e6398c3f301.vsidx
