
FlareExam/.vs/FlareExam/DesignTimeBuild/.dtbcache.v2
FlareExam/.vs/FlareExam/v17/.suo
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.deps.json
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.dll
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.exe
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.pdb
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.dev.json
FlareExam/bin/Debug/netcoreapp3.1/FlareExam.runtimeconfig.json
FlareExam/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlareExam/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
FlareExam/obj/Debug/netcoreapp3.1/apphost.exe
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.AssemblyInfo.cs
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.AssemblyInfoInputs.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.assets.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.AssemblyReference.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.BuildWithSkipAnalyzers
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.CoreCompileInputs.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.csproj.FileListAbsolute.txt
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.dll
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.GeneratedMSBuildEditorConfig.editorconfig
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.genruntimeconfig.cache
FlareExam/obj/Debug/netcoreapp3.1/FlareExam.pdb
FlareExam/obj/FlareExam.csproj.nuget.dgspec.json
FlareExam/obj/FlareExam.csproj.nuget.g.props
FlareExam/obj/FlareExam.csproj.nuget.g.targets
FlareExam/obj/project.assets.json
FlareExam/obj/project.nuget.cache
FlareExam/.vs/FlareExam/FileContentIndex/9c0b028e-8bed-447d-b0af-a8da5091f928.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/c21bad61-c683-459c-846e-020a4802bd5b.vsidx
FlareExam/.vs/FlareExam/FileContentIndex/read.lock
FlareExam/.vs/FlareExam/v17/.futdcache.v2
FlareExam/.vs/ProjectEvaluation/flareexam.metadata.v5
FlareExam/.vs/ProjectEvaluation/flareexam.projects.v5
FlareExam/.vs/FlareExam/FileContentIndex/50e1363b-53bd-49dd-8606-40e9e18a225a.vsidx
